registry=https://tfs.neos-sdi.com/Production/_packaging/CdS/npm/registry/
always-auth=true

; Considérez ce jeton d'authentification comme un mot de passe. Ne le partagez avec personne, pas même avec le Support Microsoft. Ce jeton expire au plus tard le 19/09/2022.
; début du jeton d'authentification
//tfs.neos-sdi.com/Production/_packaging/CdS/npm/registry/:username=CdS
//tfs.neos-sdi.com/Production/_packaging/CdS/npm/registry/:_password=Y3BzbXViNHNkajJyZWN0ZXFqN3hsaTZ0emRhNDd0dXZpNjVkdXdydm9kbXZ4eXNtMm9ycQ==
//tfs.neos-sdi.com/Production/_packaging/CdS/npm/registry/:email=npm nécessite la définition de l'e-mail mais n'utilise pas la valeur
//tfs.neos-sdi.com/Production/_packaging/CdS/npm/:username=CdS
//tfs.neos-sdi.com/Production/_packaging/CdS/npm/:_password=Y3BzbXViNHNkajJyZWN0ZXFqN3hsaTZ0emRhNDd0dXZpNjVkdXdydm9kbXZ4eXNtMm9ycQ==
//tfs.neos-sdi.com/Production/_packaging/CdS/npm/:email=npm nécessite la définition de l'e-mail mais n'utilise pas la valeur
; fin du jeton d'authentification